/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: burlywood;     /* red, blue, yellow, etc */
    color: rgb(56, 56, 56);             /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: bolder;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 8px;        /* From 0px and upwards   */
}





